<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div id="user-list" class="user-list container mx-auto mt-4 min-h-dvh w-full z-0 flex flex-col">
        <div class="py-12">
            <div class="flex justify-between">
                <div class="grow"></div>
                <div class="grow-0">
                    <button class="rounded-full bg-indigo-600 p-2 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                            th:hx-get="@{/users/new}"
                            hx-target="#users_page_content"
                    >
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="overflow-x-auto w-full">
                <table th:fragment="users" id="users" class="table table-zebra w-full">
                    <!-- head -->
                    <caption class="caption-top">
                    Users
                    </caption>
                    <thead>
                    <tr>
                        <th></th>
                        <th class="text-start">Username</th>
                        <th class="text-start">Email</th>
                        <th>Is Active</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- row 1 -->
                    <tr id="user-detail" class="user-detail"
                        th:each="user : ${ users }">
                        <th th:text="${user.id()}">1</th>
                        <td th:text="${user.username()}">Cy Ganderton</td>
                        <td th:text="${user.email()}">Quality Control Specialist</td>
                        <td class="text-center">
                            <input type="checkbox" class="toggle toggle-success" th:checked="${ user.isActive() }" />
                        </td>
                        <td>
                            <button
                                    class="rounded-md bg-green-700 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-red-600 focus-visible:outline-red-600 w-16"
                                    hx-swap="outerHTML"
                                    th:hx-delete="@{/users/{username}(username=${user.username()})}"
                                    hx-target="closest #users"
                            >
                                Edit
                            </button>
                            <button
                                    class="rounded-md bg-red-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-red-600 focus-visible:outline-red-600 w-16"
                                    hx-swap="outerHTML"
                                    th:hx-delete="@{/users/{username}(username=${user.username()})}"
                                    hx-target="closest #users"
                            >
                                Delete
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>