<!DOCTYPE html>
<html th:lang="|${#locale.language}-${#locale.country}|"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style-prod.css">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content" class="container mx-auto mt-10">
    <div class="flex flex-col gap-4">
        <div class="flex justify-center">
            <h1 id="text-9xl font-black">Spring Boot + Tailwind CSS + DaisyUI + HTMX</h1>
        </div>

        <div class="overflow-x-auto">
            <table class="table table-zebra">
                <!-- head -->
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>IP Address</th>
                </tr>
                </thead>
                <tbody>
                <!-- row 1 -->
                <tr class="machines" th:each="machine : ${machines}">
                    <th class="machine-id" th:text="${machine.getId()}">1</th>
                    <td class="machine-name" th:text="${machine.getName()}">Cy Ganderton</td>
                    <td class="machine-description" th:text="${machine.getDescription()}">Quality Control Specialist</td>
                    <td th:class="machine-ip" th:text="${machine.getIpAddress()}">Blue</td>
                    <td class="buttons">
                        <button
                            class="btn btn-outline btn-error btn-sm"
                            th:attr="hx-delete=@{/machines/{id}(id=${machine.id})}"
                            hx-swap="outerHTML"
                            hx-target="closest .machines"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="float-right bg-amber-400 p-2">
            <div id="message">Request Info</div>
        </div>
        <h1 class="text-2xl mb=4">Trigger Demo</h1>
        <h2 class="text-xl mb-2">Standard Events</h2>
        <div class="mb-4">
            <div class="text-sm">Button is triggered by the <code class="font-mono">Click</code> event.</div>
            <button class="btn btn-outline btn-primary"
                    th:hx-get="@{/htmx}"
                    hx-target="#message">Click me</button>
        </div>
        <div class="mb-4">
            <div class="text-sm">Input, textarea and select fields are triggered by the <code class="font-mono">change</code> event (For input and textarea, this triggers when you move the focus out of the input).</div>
            <div>
                <div>
                    <div>Input</div>
                    <input id="my-text-input-id"
                           type="text"
                           name="my-text-input-name"
                           class="mb-2"
                           th:hx-get="@{/htmx}"
                           hx-target="#message" />
                </div>
                <div>
                    <div>Textarea</div>
                    <textarea th:hx-get="@{/htmx}"
                              hx-target="#message"></textarea>
                </div>
                <div>Select</div>
                <select th:hx-get="@{/htmx}"
                        hx-target="#message">
                    <option>Choice 1</option>
                    <option>Choice 2</option>
                    <option>Choice 3</option>
                </select>
            </div>
        </div>
        <div class="mb-4">
            <div class="text-sm">Forms are triggered by the <code class="font-mon">submit</code> event.</div>
            <form th:hx-get="@{/htmx}"
                  hx-target="#message">
                <input type="text" name="form-text-input" />
                <button class="btn btn-ghost" type="submit">Submit</button>
                <button class="btn btn-outline btn-warning">Reset</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>