<!DOCTYPE html>
<html th:lang="|${#locale.language}-${#locale.country}|"
      xmlns:th="http://www.thymeleaf.org"
>
<body>
    <div th:fragment="plan-form" id="plan-form" class="plan-form flex justify-center">
        <form method="dialog" th:object="${plan}"
              th:hx-post="@{/plans}"
        >
            <div class="grid grid-cols-3 gap-6 mt-10">
                <div class="col-span-3" >New Plan</div>

                <label>Description</label>
                <input id="plan-description" type="text" name="plan-description"
                       class="input input-bordered w-full max-w-xs col-span-2"
                       placeholder="Description"
                       th:field="*{description}"
                />

                <label>Start Date</label>
                <div class="col-span-2">
                    <div th:insert="~{fragments/datepicker :: datepicker(${year}, ${month}, ${day}, ${firstDay}, ${lastDay})}"
                         th:remove="tag">
                    </div>
                </div>

                <label>Run Date</label>
                <div class="col-span-2">
                    <div th:insert="~{fragments/datepicker :: datepicker(${year}, ${month}, ${day}, ${firstDay}, ${lastDay})}"
                         th:remove="tag">
                    </div>
                </div>

                <label>Priority</label>
                <input id="plan-data-path" type="text" name="plan-data-path"
                       class="input input-bordered w-full max-w-xs col-span-2"
                       placeholder="WPCS Data path"
                       th:field="*{priority}"
                />

                <div class="w-full"> </div>
                <div class="mx-auto w-full ">
                    <button class="btn btn-outline"
                            type="submit"
                    >Save</button>

                    <button id="cancel-button"
                            class="btn btn-outline btn-secondary"
                            hx-target="#plan-form"
                    >Cancel</button>
                </div>
                <div class="w-full"> </div>

            </div>
        </form>
    </div>
</body>
</html>