<!DOCTYPE html>
<html th:lang="|${#locale.language}-${#locale.country}|"
      xmlns:th="http://www.thymeleaf.org"
>
<body>
    <div th:fragment="plan-form(plan, workOrders)" id="plan-form" class="container mx-auto flex min-h-dvh flex-col">
        <div class="text-start">
            <a href="/plans" class="text-lg font-bold text-blue-600"
            >Back</a> <br>
        </div>
        <form method="dialog" th:action="@{/plans}" th:object="${plan}"
              class="mt-5"
        >
           <div class="grid grid-cols-6 gap-3 mt-1">
               <div class="text-start col-span-1">
                   <lable class="text-sm font-bold">Plan</lable> <br>
                   <h1 th:text="${ plan.getId()}"></h1>
               </div>
               <div class="text-start col-span-2">
                   <lable class="text-sm font-bold">Description</lable> <br>
                   <h1 th:text="${ plan.getDescription() }"></h1>
               </div>

               <div class="text-start  col-span-1">
                   <lable class="text-sm font-bold">Start Date</lable> <br>
                   <h1 th:text="${ plan.getStartDate().toString() }"></h1>
               </div>

               <div class="text-start  col-span-1 w-full">
                   <lable class="text-sm font-bold">Released</lable> <br>
                   <h1 th:text="${ plan.getRunDate() }"></h1>
               </div>
               <div class="text-start  w-full col-span-1">
                   <lable class="text-sm font-bold">Priority</lable> <br>
                   <h1 th:text="${ plan.getPriority() }"></h1>
               </div>
               <div class="text-start  w-full col-span-1">
                   <lable class="text-sm font-bold">Status</lable> <br>
                   <h1 th:text="${ plan.getProductionStatus().getStatus() }"></h1>
               </div>
           </div>
            <div class="w-96">

            <div class="sm:block">
                <nav class="isolate flex divide-x divide-gray-200 rounded-lg shadow" aria-label="Tabs">
                    <!-- Current: "text-gray-900", Default: "text-gray-500 hover:text-gray-700" -->
                    <a href="#" class="group relative min-w-0 flex-1 overflow-hidden rounded-l-lg bg-white px-4 py-4 text-center text-sm font-medium text-gray-900 hover:bg-gray-50 focus:z-10" aria-current="page">
                        <span>Planned Batches</span>
                        <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-indigo-500"></span>
                    </a>
                    <!--
                    <a href="#" class="group relative min-w-0 flex-1 overflow-hidden bg-white px-4 py-4 text-center text-sm font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-700 focus:z-10">
                        <span>Planned Batches</span>
                        <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-transparent"></span>
                    </a> -->
                </nav>
            </div>
            </div>

            <div id="batch-orders-list" class="batch-orders-list mx-auto flex w-full items-start gap-x-8 px-4 py-10 sm:px-6 lg:px-8">
                <main class="flex-1 border-r border-gray-200">
                    <form>
                        <table class="w-full">
                            <tr>
                                <th class="px-4 text-center relative pl-3 pr-4 sm:pr-0"><input type="checkbox" th:checked="checked" class="checkbox" /></th>
                                <th class="text-start">Order #</th>
                                <th class="text-start">Customer</th>
                                <th class="text-start">Harness</th>
                                <th>Revision</th>
                                <th class="text-start">ReleaseDueOn</th>
                                <th>Status</th>
                                <th>Quantity</th>
                                <th># Cicuits</th>
                                <th># Total Wires</th>
                                <th><a href="#" class="text-indigo-600 hover:text-indigo-900"><span class="sr-only">remove buttons</span></a></th>
                            </tr>
                            <tr th:each="batch : ${workOrders}" x-data="{ selected: false }">
                                <td th:if="${plan.getProductionStatus().getStatusId() >= 2}"></td>
                                <td th:unless="${plan.getProductionStatus().getStatusId() >= 2}"  class="px-4 text-center relative pl-3 pr-4 sm:pr-0"><input type="checkbox"
                                            th:id="${batch.getId()}"
                                            th:checked="${false}"
                                            class="checkbox"
                                            @change="selected = !selected"
                                /></td>
                                <td th:text="${batch.getId()}"></td>
                                <td th:text="${batch.getCustomer()}"></td>
                                <td th:text="${batch.getPartNumber()}"></td>
                                <td class="text-center" th:text="${batch.getRevision()}"></td>
                                <td th:text="${batch.releaseDueDateToString()}"></td>
                                <td class="text-center" th:text="${batch.getStatus()}"></td>
                                <td class="text-center" th:text="${batch.getQuantity()}"></td>
                                <td class="text-center" th:text="${batch.getCircuitsPerHarness()}"></td>
                                <td class="text-center" th:text="${batch.getTotalCircuits()}"></td>
                                <td class="text-center">
                                    <button th:class="'flex-none w-24 inline-flex items-center gap-x-1.5 rounded-md ' +  ${ plan.getProductionStatus().getStatusId() >= 2 ? 'bg-gray-600 hover:bg-gray-800 focus-visible:outline-gray-700 ' : 'bg-red-600 hover:bg-red-800 focus-visible:outline-red-700 ' } + 'px-4 py-1 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2'"
                                        th:disabled="${plan.getProductionStatus().getStatusId()} >= 2"
                                    >
                                        Remove
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </main>
            </div>

        </form>

    </div>
</body>
</html>