<!DOCTYPE html>
<html th:lang="|${#locale.language}-${#locale.country}|"
      xmlns:th="http://www.thymeleaf.org"
>
<body>
    <div th:fragment="plan-form(plan, priorities, unplannedBatches)" id="plan-form" class="container mx-auto flex min-h-dvh flex-col">
       <div class="w-full">
        <nav aria-label="Progress" class="md:flex md:items-center md:justify-between">
            <ol role="list" class="divide-y divide-gray-300 rounded-md border border-gray-300 md:flex md:divide-y-0">
                <li class="relative md:flex md:flex-1">
                    <!-- Completed Step -->
                    <a href="#" class="group flex w-full items-center"  aria-current="step">
                        <span class="flex items-center px-6 py-4 text-sm font-medium">
                          <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full border-2 border-indigo-600 group-hover:bg-blue-700">
                            <span class="text-indigo-600 group-hover:text-white">01</span>
                          </span>
                          <span class="ml-4 text-sm font-medium text-indigo-600">Create Plan</span>
                        </span>
                    </a>
                    <!-- Arrow separator for lg screens and up -->
                    <div class="absolute right-0 top-0 hidden h-full w-5 md:block" aria-hidden="true">
                        <svg class="h-full w-full text-gray-300" viewBox="0 0 22 80" fill="none" preserveAspectRatio="none">
                            <path d="M0 -2L20 40L0 82" vector-effect="non-scaling-stroke" stroke="currentcolor" stroke-linejoin="round" />
                        </svg>
                    </div>
                </li>
                <li class="relative md:flex md:flex-1">
                    <a href="#" class="group flex items-center"
                       th:hx-get="@{/plans/machines}"
                       hx-target="#plan_page_content"
                    >
                        <span class="flex items-center px-6 py-4 text-sm font-medium">
                            <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full border-2 border-gray-300 group-hover:border-gray-400">
                              <span class="text-gray-500 group-hover:text-gray-900">02</span>
                            </span>
                            <span class="ml-4 text-sm font-medium text-gray-500 group-hover:text-gray-900">Machine Selection</span>
                        </span>
                    </a>
                    <!-- Arrow separator for lg screens and up -->
                    <div class="absolute right-0 top-0 hidden h-full w-5 md:block" aria-hidden="true">
                        <svg class="h-full w-full text-gray-300" viewBox="0 0 22 80" fill="none" preserveAspectRatio="none">
                            <path d="M0 -2L20 40L0 82" vector-effect="non-scaling-stroke" stroke="currentcolor" stroke-linejoin="round" />
                        </svg>
                    </div>
                </li>
                <li class="relative md:flex md:flex-1">
                    <!-- Upcoming Step -->
                    <a href="#" class="group flex items-center">
                        <span class="flex items-center px-6 py-4 text-sm font-medium">
                          <span class="flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-full border-2 border-gray-300 group-hover:border-gray-400">
                            <span class="text-gray-500 group-hover:text-gray-900">03</span>
                          </span>
                          <span class="ml-4 text-sm font-medium text-gray-500 group-hover:text-gray-900">Machine Configuration</span>
                        </span>
                    </a>
                </li>
            </ol>
        </nav>
       </div>
        <form method="dialog" th:action="@{/plans}" th:object="${plan}"
        >
            <div class="grid grid-cols-6 gap-3 mt-1">
                <div class="col-span-6" ><p class="text-2xl text-blue-800 font-bold">New Plan</p></div>

                <div class="text-start col-span-3">
                    <lable class="text-lg font-semibold">Description</lable> <br>
                    <input id="plan-description" type="text" name="plan-description"
                           class="input iborder-2 border-gray-300 rounded px-3 py-2 w-full"
                           placeholder="Description"

                    />
                </div>

                <div class="text-start  col-span-1">
                    <lable class="text-lg font-semibold">Start Date</lable> <br>
                    <input id="datepicker-start" class="datepicker border-2 border-gray-300 rounded px-3 py-2 w-56" type="date"
                           placeholder="Select a date">
                </div>

                <div class="text-start  col-span-1 w-full">
                    <lable class="text-lg font-semibold">Released by</lable> <br>
                    <input id="datepicker-run" class="datepicker border-2 border-gray-300 rounded px-3 py-2 w-56" type="date"
                           placeholder="Select a date">
                </div>
                <div class="text-start  w-full col-span-1">
                    <lable class="text-lg font-semibold">Priority</lable> <br>
                    <select class="select border-2 border-gray-300 rounded px-3 py-2 w-56  col-span-2">
                        <option th:each="priority : ${priorities}" th:text="${priority}" th:value="${priority}"></option>
                    </select>
                </div>

            </div>

            <div class="flex flex-row w-full mt-5 gap-5">
                <button class="rounded-md bg-indigo-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save Plan</button>
                <button class="rounded-md bg-indigo-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Cancel</button>
            </div>

            <div id="batch-orders-list" class="batch-orders-list mx-auto flex w-full items-start gap-x-8 px-4 py-10 sm:px-6 lg:px-8">
                <main class="flex-1">
                    <form>
                        <table class="w-full">
                            <tr>
                                <th><input type="checkbox" th:checked="checked" class="checkbox" /></th>
                                <th>Order #</th>
                                <th>Harness</th>
                                <th>Revision</th>
                                <th>Quantity</th>
                                <th># Cicuits</th>
                                <th># Terminals</th>
                                <th></th>
                            </tr>
                            <tr th:each="batch : ${unplannedBatches}" x-data="{ selected: false }">
                                <td ><input type="checkbox"
                                            th:id="${batch.getId()}"
                                            th:checked="${batch.getSelected()}"
                                            class="checkbox"
                                            @change="selected = !selected"
                                /></td>
                                <td th:text="${batch.getId()}"></td>
                                <td th:text="${batch.getHarness()}"></td>
                                <td th:text="${batch.getRevision()}"></td>
                                <td th:text="${batch.getQuantity()}"></td>
                                <td th:text="${batch.getCircuitCount()}"></td>
                                <td th:text="${batch.getTerminationCount()}"></td>
                                <td x-text="selected"></td>
                            </tr>
                        </table>
                    </form>
                </main>

                <aside class="top-8 w-24 lg:block">
                    <div class="flex flex-col space-y-5">
                        <button class="rounded bg-indigo-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">&gt;&gt;</button>
                        <button class="rounded bg-indigo-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">&lt;&lt;</button>
                    </div>
                </aside>
                <aside class="flex-1">
                    <form class="w-full">
                        <table class="w-full">
                            <tr>
                                <th><input type="checkbox" th:checked="checked" class="checkbox" /></th>
                                <th>Order #</th>
                                <th>Harness</th>
                                <th>Revision</th>
                                <th>Quantity</th>
                                <th># Cicuits</th>
                                <th># Terminals</th>
                                <th></th>
                            </tr>

                        </table>
                    </form>
                </aside>

            </div>

        </form>

    </div>
</body>
</html>