<!DOCTYPE html>
<html lang="en">
<body>
    <div th:fragment="machines_list">
        <div class="flex justify-between">
            <h1 id="text-xl font-black grow-0">Machines</h1>
            <div class="grow"></div>
            <div class="grow-0">
                <button class="btn btn-primary"
                        th:hx-get="@{/machines/new}"
                        hx-target="#machine_page_content"
                >
                    New Machine
                </button>
            </div>
        </div>

        <div class="overflow-x-auto" >
            <table id="machines" class="table table-zebra">
                <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Is Active</th>
                </tr>
                </thead>
                <tbody>
                <tr id="machine-detail" class="machine-detail" th:each="machine : ${machines}">
                    <th th:text="${machine.getId()}">1</th>
                    <td th:text="${machine.getName()}"></td>
                    <td th:text="${machine.getDescription()}"></td>
                    <td th:text="${machine.getBrand()}"></td>
                    <td th:text="${machine.getModel()}"></td>
                    <td>
                        <input type="checkbox" class="toggle toggle-success" th:checked="${ machine.getIsActive() }" />
                    </td>
                    <td class="buttons">
                        <div
                                class="btn btn-outline btn-primary btn-sm"
                                th:hx-get="@{/machines/{id}(id=${machine.getId()})}"
                                hx-target="#machine_page_content"
                        >
                            Edit
                        </div>
                        <button id="delete-button"
                                class="btn btn-outline btn-error btn-sm"
                                th:hx-delete="@{/machines/{id}(id=${machine.id})}"
                                hx-target="#machine_page_content"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>