<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="machine_form" >

        <div th:fragment="machine-form" id="machine-form" class="machine-form flex justify-center">

            <form method="dialog" th:object="${machine}"
                  th:hx-post="@{/machines}"
            >
                <div class="grid grid-cols-3 gap-6 mt-10">
                    <div class="col-span-3" th:text="${page_title}"></div>
                    <label>Machine Name</label>
                    <input id="machine-name" type="text" name="machine-name"
                           class="input input-bordered w-full max-w-xs col-span-2"
                           placeholder="Name of the machine"
                           th:field="*{machineName}"
                    />

                    <label>Description</label>
                    <input id="machine-description" type="text" name="machine-description"
                           class="input input-bordered w-full max-w-xs col-span-2"
                           placeholder="Description"
                           th:field="*{description}"
                    />

                    <label>Brand</label>
                    <input id="machine-brand" type="text" name="machine-brand"
                           class="input input-bordered w-full max-w-xs col-span-2"
                           placeholder="Description"
                           th:field="*{machineBrand}"
                    />

                    <label>Model</label>
                    <input id="machine-model" type="text" name="machine-model"
                           class="input input-bordered w-full max-w-xs col-span-2"
                           placeholder="Model"
                           th:field="*{machineModel}"
                    />

                    <label>WPCS Data Path</label>
                    <input id="machine-data-path" type="text" name="machine-data-path"
                           class="input input-bordered w-full max-w-xs col-span-2"
                           placeholder="WPCS Data path"
                           th:field="*{dataPath}"
                    />

                    <label>WPCS Feedback Path</label>
                    <input id="machine-feedback-path" type="text" name="machine-feedback-path"
                           class="input input-bordered w-full max-w-xs col-span-2"
                           placeholder="WPCS feedback path"
                           th:field="*{feedbackPath}"
                    />

                    <label>Is Active</label>
                    <input id="machine-isActive" type="checkbox" name="machine-isActive"
                            class="checkbox checkbox-primary col-span-2"
                           th:checked="*{isActive}"

                    />

                    <div></div>
                    <div class="w-full"> </div>
                    <div class="mx-auto w-full ">
                        <button class="rounded-md bg-green-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-green-700"
                                type="submit"
                        >Save</button>

                        <button id="cancel-button"
                                class="rounded-md bg-red-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-red-600 focus-visible:outline-red-600"
                                th:hx-get="@{/machines/home}"
                                hx-target="#machine_page_content"
                        >Cancel</button>
                    </div>
                    <div class="w-full"> </div>

                    <input id="user-active" type="hidden" checked="checked" class="checkbox" th:field="*{isActive}"  />
                </div>
            </form>
    </div>
</div>
</body>
</html>