<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form th:fragment="machine-setting(displayMachine)" method="dialog">
            <!--/*@thymesVar id="getConfiguration" type="dev.toke.springthymehtmxstarter.data.dto.MachineConfigurationDto"*/-->
            <!--/*@thymesVar id="getCanCableChange" type="java.lang.String"*/-->
            <div id="batch-orders-list" class="batch-orders-list mx-auto flex w-full items-start gap-x-8 px-4 py-10 sm:px-6 lg:px-8">
                <main class="flex-1">
                    <form>
                        <div class="space-y-12 sm:space-y-16">
                            <div>
                                <h2 class="text-base font-semibold leading-7 text-gray-900">Machine Configuration</h2>
                                <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-600">This setting will be used when the plan is optimised</p>

                                <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
                                    <div class="grid grid-cols-3 items-start gap-4 py-6">
                                        <label class="block text-sm font-medium leading-6 text-gray-900 pt-1.5">Machine Name</label>
                                        <div class="mt-2 col-span-2 mt-0">
                                            <div class="flex w-full max-w-sm h-10  rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600">
                                                <!--/*@thymesVar id="getMachineName" type="java.lang.String"*/-->
                                                <!--/*@thymesVar id="displayMachine" type="dev.toke.springthymehtmxstarter.data.dto.MachineDto"*/-->
                                                <span class="flex select-none items-center pl-3 text-gray-500 sm:text-xl"
                                                th:text="${displayMachine.getMachineName()}"
                                                ></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                        <label for="cableThreshold" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Cable Threshold</label>
                                        <div class="mt-2 sm:col-span-2 sm:mt-0">
                                            <input id="cableThreshold" type="number" name="cableThreshold"
                                                   class="block w-full max-w-sm rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6"
                                                   th:value="${displayMachine.getConfiguration().getCableThreshold()}"
                                            />
                                        </div>
                                    </div>
                                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                        <label for="terminalThreshold" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Terminal Threshold</label>
                                        <div class="mt-2 sm:mt-0">
                                            <input id="terminalThreshold" type="number" name="terminalThreshold"
                                                   class="block w-full max-w-sm rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6"
                                                   th:value="${displayMachine.getConfiguration().getTerminalThreshold()}"
                                            />
                                        </div>
                                    </div>
                                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                        <label for="sealThreshold" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Seal Threshold</label>
                                        <div class="mt-2 sm:col-span-2 sm:mt-0">
                                            <input id="sealThreshold" type="number" name="sealThreshold"
                                                   class="block w-full max-w-sm rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6"
                                                   th:value="${displayMachine.getConfiguration().getSealThreshold()}"
                                            />
                                        </div>
                                    </div>
                                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                        <label for="minimumLength" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Minimum Length</label>
                                        <div class="mt-2 sm:col-span-2 sm:mt-0">
                                            <input id="minimumLength" type="number" name="minimumLength"
                                                   class="block w-full max-w-sm rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6"
                                                   th:value="${displayMachine.getConfiguration().getMinimumLength()}"
                                            />
                                        </div>
                                    </div>
                                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                        <label for="maximumLength" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Maximum Length</label>
                                        <div class="mt-2 sm:col-span-2 sm:mt-0">
                                            <input id="maximumLength" type="number" name="maximumLength"
                                                   class="block w-full max-w-sm rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6"
                                                   th:value="${displayMachine.getConfiguration().getMaximumLength()}"
                                            />
                                        </div>
                                    </div>
                                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                        <div class="text-sm leading-6">
                                            <label for="cableChange" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Change Cable</label>
                                            <p class="mt-1 text-gray-600">This indicates that the machine has the ability to change some of its pre-loaded cables automatically</p>
                                        </div>
                                        <div class="flex sm:col-span-2 h-6 items-center">
                                            <input id="cableChange" name="cableChange" type="checkbox" th:checked="${displayMachine.getConfiguration().getCanChangeCable()}" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                        </div>
                                    </div>
                                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                        <div class="text-sm leading-6">
                                            <label for="terminalChange" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Change Terminal</label>
                                            <p class="mt-1 text-gray-600">This indicates that the machine has the ability to swap the terminal automatically</p>
                                        </div>
                                        <div class="flex sm:col-span-2 h-6 items-center">
                                            <input id="terminalChange" name="terminalChange" type="checkbox" th:checked="${displayMachine.getConfiguration().getCanChangeTerminal()}" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                        </div>
                                    </div>
                                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                        <div class="text-sm leading-6">
                                            <label for="canLoopTerminate" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Loop Terminate</label>
                                            <p class="mt-1 text-gray-600">This indicates that the machine has the ability to use one terminal to terminate both end of a cable</p>
                                        </div>
                                        <div class="flex sm:col-span-2 h-6 items-center">
                                            <input id="canLoopTerminate" name="canLoopTerminate" type="checkbox" th:checked="${displayMachine.getConfiguration().getLoopTerminate()}" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                        </div>
                                    </div>
                                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                        <label for="brandColour" class="block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5">Country</label>
                                        <div class="mt-2 sm:mt-0">
                                            <select id="brandColour" name="brandColour" autocomplete="country-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                                <option th:selected="${ 'BLACK'.equalsIgnoreCase(displayMachine.getConfiguration().getBrandColours()) }">Black</option>
                                                <option th:selected="${ 'WHITE'.equalsIgnoreCase(displayMachine.getConfiguration().getBrandColours()) }">White</option>
                                                <option th:selected="${ 'BOTH'.equalsIgnoreCase(displayMachine.getConfiguration().getBrandColours()) }">Both</option>
                                            </select>
                                        </div>
                                        <div></div>
                                    </div>
                                    <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
                                        <div></div>
                                        <div class="mt-2 sm:mt-0">
                                            <button type="button" class="inline-flex items-center gap-x-1.5 rounded-md bg-indigo-600 px-4 py-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                                Save
                                                <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1716 1C18.702 1 19.2107 1.21071 19.5858 1.58579L22.4142 4.41421C22.7893 4.78929 23 5.29799 23 5.82843V20C23 21.6569 21.6569 23 20 23H4C2.34315 23 1 21.6569 1 20V4C1 2.34315 2.34315 1 4 1H18.1716ZM4 3C3.44772 3 3 3.44772 3 4V20C3 20.5523 3.44772 21 4 21L5 21L5 15C5 13.3431 6.34315 12 8 12L16 12C17.6569 12 19 13.3431 19 15V21H20C20.5523 21 21 20.5523 21 20V6.82843C21 6.29799 20.7893 5.78929 20.4142 5.41421L18.5858 3.58579C18.2107 3.21071 17.702 3 17.1716 3H17V5C17 6.65685 15.6569 8 14 8H10C8.34315 8 7 6.65685 7 5V3H4ZM17 21V15C17 14.4477 16.5523 14 16 14L8 14C7.44772 14 7 14.4477 7 15L7 21L17 21ZM9 3H15V5C15 5.55228 14.5523 6 14 6H10C9.44772 6 9 5.55228 9 5V3Z" fill="#FFFFFF"/> </g>
                                                </svg>

                            </svg>
                                            </button>
                                        </div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </main>
            </div>
        </form>
    </div>
</body>
</html>